<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <!-- <h2>{{company.Name}}</h2> -->
            <h2>Jawwal</h2>
            <h4>Jawwal@company.ps</h4>
        </div>
        <img src="../../../../assets/boss.png" alt="company">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" href="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" href="/appliedforms">Applied forms</a>
    <a mat-list-item routerLinkActive="list-item-active" href="/employeeslist">Employees List</a>
    <a mat-list-item routerLinkActive="list-item-active" href="/trainerslist">Trainers List</a>
    <a mat-list-item routerLinkActive="list-item-active" href="/traineeslist">Trainees List</a>
    <a mat-list-item routerLinkActive="list-item-active" href="/supervisorlist">Trainig Supervisors List</a>
    <a mat-list-item routerLinkActive="list-item-active" href="/certificate">Certificate</a>


</mat-nav-list>