<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Company</h2>
            <h4>company@email.com</h4>
        </div>
        <img src="../../../../assets/boss.png" alt="company">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/appliedforms">Applied forms</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employeeslist">Employees List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/trainerslist">Trainers List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/traineeslist">Trainees List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/traineeslist">Trainig Supervisors List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/certificate">Certificate</a>

    
</mat-nav-list>