<h3>Trainers List</h3>
<mat-accordion>
    <mat-expansion-panel *ngFor="let trainer of trainers">
      <mat-expansion-panel-header > 
        <mat-panel-title>
         
          <img src=[trainer.ProfilePic]> 
           <!-- <img src="data:image/jpeg;base64,{{ProfilePic}}"/> &nbsp; -->
         {{trainer.UserName}}
        </mat-panel-title>
        <mat-panel-description>
         {{trainer.Email}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><b>Phone Number : </b>{{trainer.PhoneNo}}</p>
      <p><b>Department : </b>{{trainer.Department}}</p>
      <p >data:image/png;base64,{{ProfilePic}}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <br>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>

  
<br>
<br>
<br>