<h3>Trainers List</h3>
<mat-accordion>
    <mat-expansion-panel *ngFor="let trainer of trainers">
        <button type="button" class="icon"><mat-icon (click)="popup=true" >person_remove_alt_1</mat-icon></button>

        <mat-expansion-panel-header>
            <mat-panel-title>

                <!-- <img src=[trainer.ProfilePic]><br> -->
                <!-- <img src="data:image/jpeg;base64,{{ProfilePic}}"/> &nbsp; -->
                <!-- {{trainer.UserName}} -->
                <!-- {{trainer.ID}} &nbsp; &nbsp; {{trainer.FName}} {{trainer.LName}} -->
                {{trainer.ID}} &nbsp; &nbsp; {{trainer.FName}} {{trainer.LName}}

            </mat-panel-title>
            <mat-panel-description>
                {{trainer.Email}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="overlay" *ngIf="popup">
            <div class="popup">
                <h4>Deactivate Account</h4>
                <a class="close" (click)="popup = false">&times;</a>
                <div class="content">
                    Are you sure you want to deactivate this account? To confirm please type <b>"deactivate" </b> in the field below and hit confirm. <br>
                    <input type="text" class="form-control" id="inputtext"> <br>
                    <div class="container">
                        <div class="row">
                            <button type="submit" class="btn">Confirm </button> &nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p><b>Phone Number : </b>{{trainer.PhoneNo}}</p>
        <p><b>Department : </b>{{trainer.Department}}</p>
        <p>data:image/png;base64,{{ProfilePic}}</p>
    </mat-expansion-panel>
</mat-accordion>

<br>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
</mat-paginator>


<br>
<br>
<br>